<template>
  <div>
    <h1 class="display-1">
      {{ $t("myFingerPrintPage.components.myFingerPrint.title") }}
    </h1>
    <h2 class="title my-4">
      <v-chip color="success" outlined>
        <v-icon left> mdi-card-account-details </v-icon>
        {{ fpId }}
      </v-chip>
    </h2>
    <v-alert border="left" colored-border color="primary" elevation="2">
      {{
        same
          ? $t("myFingerPrintPage.components.myFingerPrint.sameFPAlert", {
              count: count
            })
          : $t("myFingerPrintPage.components.myFingerPrint.uniqueFPAlert", {
              count: count
            })
      }}
    </v-alert>
  </div>
</template>
<script>
export default {
  name: "MyFingerPrint",
  props: {
    fpId: {
      type: String,
      default: "My fingerprint ID"
    },
    same: {
      type: Boolean,
      default: false
    },
    count: {
      type: [Number, String],
      default: 0
    }
  }
};
</script>
