<template>
  <div>
    <v-row>
      <v-col cols="12" class="mb-5">
        <v-subheader>
          {{ $t("myFingerPrintPage.components.fingerPrintTable.text") }}
        </v-subheader>
      </v-col>
      <v-col cols="12">
        <v-data-table
          :headers="fingerprintHeader"
          :items="items"
          hide-default-footer
          class="elevation-1"
        >
          <template v-slot:item.codename="{ item }">
            {{ $t("attributes." + item.codename) }}
          </template>
          <template v-slot:item.ratio="{ item }">
            <v-chip :color="getColor(item.ratio)" dark>
              {{ item.ratio.toFixed(2) }}
            </v-chip>
          </template>
          <template v-slot:item.value="{ item }">
            <template v-if="isArray(item.value)">
              <v-chip
                v-for="(el, i) in item.value"
                :key="i"
                color="primary"
                dark
                class="mr-2"
              >
                {{ el }}
              </v-chip>
            </template>
            <template v-else-if="isBoolean(item.value)">
              <v-icon v-if="item.value" color="green">
                mdi-checkbox-marked-circle-outline
              </v-icon>
              <v-icon v-else color="red"> mdi-close-circle-outline </v-icon>
            </template>
            <template v-else-if="!item.value">
              <v-icon color="red"> mdi-close-circle-outline </v-icon>
            </template>
            <template v-else>
              {{ item.value }}
            </template>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { isArray, isBoolean } from "lodash";
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      fingerprintHeader: [
        {
          text: this.$t(
            "myFingerPrintPage.components.fingerPrintTable.fingerprintHeader.0"
          ),
          value: "codename"
        },
        {
          text: this.$t(
            "myFingerPrintPage.components.fingerPrintTable.fingerprintHeader.1"
          ),
          value: "ratio"
        },
        {
          text: this.$t(
            "myFingerPrintPage.components.fingerPrintTable.fingerprintHeader.2"
          ),
          value: "value"
        }
      ]
    };
  },
  methods: {
    getColor(ratio) {
      if (ratio < 25) return "red";
      else if (ratio < 50) return "yellow";
      else if (ratio < 75) return "blue";
      else return "green";
    },
    isArray(value) {
      return isArray(value);
    },
    isBoolean(value) {
      return isBoolean(value);
    }
  }
};
</script>
