<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on }">
      <v-btn text icon v-on="on">{{ currentLocal }}</v-btn>
    </template>

    <v-list>
      <v-list-item
        v-for="(item, key) in langs"
        :key="key"
        @click="locale = key"
      >
        <v-list-item-title>{{ item }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
import { useUiState } from "@/composables/ui";

export default {
  data() {
    return {
      langs: {
        fr_FR: "Français",
        en_US: "English"
      }
    };
  },
  computed: {
    currentLocal() {
      return this.shortLocale.toUpperCase();
    }
  },
  setup() {
    const { shortLocale, locale } = useUiState();

    return {
      locale,
      shortLocale
    };
  }
};
</script>

<style></style>
