<template>
  <v-container>
    <v-row align="center" justify="center" class="py-5">
      <v-col cols="12" md="3" class="d-flex justify-center">
        <img
          :src="require('../assets/logoWithText.png')"
          alt="Am I The Only"
          height="300"
          contain
        />
      </v-col>
      <v-col cols="12" md="9">
        <scan-finger-print-card></scan-finger-print-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ScanFingerPrintCard from "@/components/Home/ScanFingerPrintCard.vue";
export default {
  name: "Home",

  components: { ScanFingerPrintCard },

  data() {
    return {};
  }
};
</script>
