<template>
  <v-container>
    <template v-if="loading">
      <v-skeleton-loader type="table"></v-skeleton-loader>
    </template>
    <v-row v-else>
      <v-col cols="12" class="text-center">
        <my-finger-print
          :fpId="hash"
          :same="same"
          :count="same ? count : total"
        ></my-finger-print>
      </v-col>
      <v-col cols="12">
        <my-finger-print-table :items="items"></my-finger-print-table>
      </v-col>
    </v-row>
    <v-snackbar v-model="snackbar">
      {{ $t("home.components.scanFingerPrintCard.error") }}

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          {{ $t("close") }}
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
import axios from "axios";
import { get } from "lodash";
import MyFingerPrint from "@/components/MyFingerPrintPage/MyFingerPrint.vue";
import MyFingerPrintTable from "@/components/MyFingerPrintPage/MyFingerPrintTable.vue";
export default {
  components: { MyFingerPrint, MyFingerPrintTable },
  props: {
    fpId: {
      type: String,
      default: "My fingerprint ID"
    }
  },
  data() {
    return {
      items: [],
      loading: false,
      snackbar: false,
      hash: null,
      same: false,
      count: 0,
      total: 0,
      baseUrl: process.env.VUE_APP_API_ENDPOINT
    };
  },
  async created() {
    this.loading = true;
    const url = this.baseUrl + "getFingerprint?id=" + this.fpId;

    this.loading = true;
    this.snackbar = false;

    try {
      const resp = await axios.get(url);
      this.loading = false;
      if (resp.data.error) {
        this.snackbar = true;
      } else {
        this.same = get(resp.data, "same", false);
        this.hash = get(resp.data, "hash", false);
        this.count = get(resp.data, "count", false);
        this.total = get(resp.data, "total", false);
        this.items = get(resp.data, "fingerprint", []);
      }
    } catch (error) {
      // Handle Error Here
      this.loading = false;
      this.snackbar = true;
    }
  }
};
</script>
