<template>
  <v-card flat color="transparent" :disabled="loading">
    <v-card-title primary-title class="display-1">
      {{ $t("home.components.scanFingerPrintCard.title") }}
    </v-card-title>
    <v-card-subtitle class="title">
      {{ $t("home.components.scanFingerPrintCard.subtitle") }}
    </v-card-subtitle>
    <v-card-text>
      {{ $t("home.components.scanFingerPrintCard.text") }}
    </v-card-text>
    <div>
      <v-chip
        v-for="attribute in attributes"
        :key="attribute"
        class="ma-2"
        color="primary"
        outlined
      >
        {{ $t(attribute) }}
      </v-chip>
    </div>

    <v-card-actions class="d-flex justify-center">
      <v-btn
        color="primary"
        rounded
        large
        @click="showMyFingerprint"
        :loading="loading"
      >
        {{ $t("home.components.scanFingerPrintCard.actionScan") }}
      </v-btn>
    </v-card-actions>
    <v-list style="background-color: transparent">
      <v-list-item>
        <v-list-item-icon>
          <v-icon color="blue"> mdi-alert </v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>
            {{ $t("home.components.scanFingerPrintCard.alert") }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-for="(link, i) in linkItems" :key="i" :href="link.href">
        <v-list-item-icon>
          <v-icon color="primary"> {{ link.icon }} </v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>
            {{ $t(link.title) }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-snackbar v-model="snackbar">
      {{ $t("home.components.scanFingerPrintCard.error") }}

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          {{ $t("close") }}
        </v-btn>
      </template>
    </v-snackbar>
  </v-card>
</template>

<script>
import { useUiState } from "@/composables/ui";
import axios from "axios";
import { createFingerPrintObject } from "../../utils/FingerPrintScript.js";
export default {
  components: {},
  setup() {
    const { fingerPrintId } = useUiState();

    return {
      fingerPrintId
    };
  },

  data() {
    return {
      loading: false,
      snackbar: false,
      baseUrl: process.env.VUE_APP_API_ENDPOINT,
      linkItems: [
        {
          icon: "mdi-gitlab",
          href: "https://gitlab.com/a3292/web-am-i-the-only",
          title: "home.components.scanFingerPrintCard.linkItems[0]"
        },
        {
          icon: "mdi-email",
          href: "mailto:fs_bouhenniche@esi.dz",
          title: "home.components.scanFingerPrintCard.linkItems[1]"
        }
      ],
      attributes: [
        "attributes.USER_AGENT",
        "attributes.NAVIGATOR",
        "attributes.DEVICE",
        "attributes.OPERATING_SYSTEM",
        "attributes.LANGUAGE",
        "attributes.LANGUAGES",
        "attributes.TIME_ZONE",
        "attributes.RESOLUTION",
        "attributes.COOKIES_ENABLED",
        "attributes.DO_NOT_TRACK",
        "attributes.PLUGINS"
      ]
    };
  },
  methods: {
    async showMyFingerprint() {
      this.loading = true;
      const url = this.baseUrl + "createFingerprint";

      this.loading = true;
      this.snackbar = false;
      let fingerprint = createFingerPrintObject(window.navigator, screen);
      if (this.fingerPrintId) fingerprint.id = this.fingerPrintId;
      try {
        const resp = await axios.post(url, fingerprint);
        this.loading = false;
        if (resp.data.error) {
          this.snackbar = true;
        } else {
          this.fingerPrintId = resp.data.id;

          this.$router.push({
            name: "MyFingerPrintPage",
            params: { fpId: this.fingerPrintId }
          });
        }
      } catch (error) {
        // Handle Error Here
        this.loading = false;
        this.snackbar = true;
      }
    }
  }
};
</script>
