<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <v-avatar>
        <img :src="require('./assets/logo.png')" alt="Am I The Only" />
      </v-avatar>
      <v-toolbar-title>
        <v-btn to="/" text>{{ $t("appName") }}</v-btn>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-switch
        inset
        :label="$t('home.themeSwitcher')"
        v-model="darkMode"
        hide-details
        color="secondary"
      ></v-switch>
      <lang-switcher-btn></lang-switcher-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { useUiState } from "@/composables/ui";
import LangSwitcherBtn from "@/components/App/LangSwitcherBtn.vue";
export default {
  name: "App",
  components: { LangSwitcherBtn },
  setup() {
    const { shortLocale, locale, darkMode } = useUiState();

    return {
      locale,
      shortLocale,
      darkMode
    };
  },
  methods: {
    initAppStorage() {
      this.$i18n.locale = this.shortLocale;
      this.$vuetify.lang.current = this.shortLocale;
      if (this.shortLocale === "ar") this.$vuetify.rtl = true;
      else this.$vuetify.rtl = false;
      this.$vuetify.theme.dark = this.darkMode;
    }
  },
  watch: {
    darkMode: {
      immediate: true,
      deep: true,
      handler(v) {
        this.$vuetify.theme.dark = v;
      }
    },
    shortLocale: {
      immediate: true,
      deep: true,
      handler() {
        this.$i18n.locale = this.shortLocale;
        this.$vuetify.lang.current = this.shortLocale;
        if (this.shortLocale === "ar") this.$vuetify.rtl = true;
        else this.$vuetify.rtl = false;
      }
    }
  },
  created() {
    this.initAppStorage();
  },

  data() {
    return {};
  }
};
</script>
